.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #525252; 
}
li{
    list-style-type: none;
}


.footerList{
    margin-top: 10px;
    line-height: 25px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #606062;
    font-style: normal;

}
.footerList>li:hover{
    cursor: pointer;
    color: rgba(128, 128, 128, 0.699);
}