@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&display=swap");


.container{
    margin-top: 50px;
    
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    font-style: normal;
    color: #18191F;
    text-align: center;

}
.exclamatory{
    position: absolute;
    z-index: -152;
    right: 10px;
   margin-top: -80px;
}